* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

.main {
  display: flex;
  justify-content: space-between;

  /* align-items: center; */
}

.calculator {
  margin: 100px;
  width: 40rem;
  min-width: 400px;
}

.screen {
  width: 100%;
  height: 60px;
  background: #b5b5bd;
  border: 1px solid #8f8f8f;
  border: 0;
  color: #fff;
  padding: 10px;
  text-align: right;
  font-size: 24px;
}

.row {
  font-size: 24px;
}

.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.silver {
  background-color: rgb(161, 161, 161);
}

.color {
  background-color: rgb(235, 86, 0);
  color: #fff;
}

.color:hover {
  background-color: rgb(219, 119, 61);
  color: #fff;
}

button {
  border: 1px solid #8f8f8f;
  padding: 10px 20px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:active {
  background: #ccc;
}

.expand {
  grid-column: 1 / span 2;
}

h2 {
  font-size: 44px;
}
